<!DOCTYPE html>
<html>
	<head>
		<title>Passport-Fitbit Example</title>
	</head>
	<body>

		<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
<% } else { %>
	<h2>Hello, <%= user.displayName %>.</h2>
	<h2>Email: </h2>
<% } %>


	</body>
</html>