<section>
  <div class="modal-header">
    <h3 class="modal-title">{{appointmentModalTitle}}</h3>
  </div>
  <div class="modal-body">
    <form name="appointmentForm" class="signin" novalidate autocomplet+e="off">
      <fieldset>
        <div class="form-group" ng-if="!clientList">
          <label for="patientName">Patient Name</label>
          <input type="text" id="patientName" name="patientName" class="form-control" ng-model="patientName"
                 placeholder="" required>
          <div ng-show="appointmentForm.patientName.$dirty && appointmentForm.patientName.$invalid" role="alert">
            <span style="color:red">Patient name is required.</span>
          </div>
        </div>

        <div class="form-group" ng-if="clientList">
          <label>Patient Name</label>
          <select class="form-control" name="patientNameD" ng-model="selectedPatient.patientNameD" ng-options="cl as cl.displayName for cl in clientList" required></select>
          <div ng-show="appointmentForm.patientNameD.$dirty && appointmentForm.patientNameD.$invalid" role="alert">
            <span style="color:red">Patient name is required.</span>
          </div>
        </div>

        <div class="form-group">
          <label for="appointmentDate">Date</label>
          <p class="input-group">
            <input id="appointmentDate" type="text"  class="form-control"
                   uib-datepicker-popup="{{format}}" ng-model="appointmentDate"
                   is-open="popup1.opened" datepicker-options="dateOptions"
                   ng-required="true" close-text="Close"/>
                      <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </span>
          </p>
          <div ng-show="appointmentForm.appointmentDate.$invalid">
            <span style="color:red">Date is required</span>
          </div>
        </div>

        <div class="form-group">
          <label for="appointmentTime">Time</label>
          <uib-timepicker id="appointmentTime" ng-model="appointmentTime" hour-step="hstep"
                          minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
          <div ng-show="appointmentForm.appointmentTime.$dirty && appointmentForm.appointmentTime.$invalid" role="alert">
            <span style="color:red">Appointment time is required</span>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="appointmentForm.$invalid"
            ng-click="saveAppointmentForm()">Save
    </button>
    <button class="btn btn-warning" type="button" ng-click="closeAppointmentForm()">Cancel</button>
  </div>
</section>
