<section ng-controller="HomeController">
  <div class="row">
    <div class="col-md-5">
      <h3>{{patientHomeTitle}}</h3>
      <div style="width: 500px;height: 750px;">
      <canvas height="350" width="450"  id="line" class="chart chart-line" chart-data="data"
              chart-labels="labels" chart-legend="true" chart-series="series" chart-options="chartOptions"
              chart-click="onClick" >
      </canvas>
        <div class="panel panel-default">
          <div class="panel-heading">Medication Schedule
            <a class="pull-right"  ng-click="addMedication();" ng-if="isDoctor">
              <i class="glyphicon glyphicon-plus"></i>
            </a>
          </div>
          <table class="table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Dosage</th>
              <th>Day</th>
              <th>Time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cm in clientMedications">
              <td>{{cm.name}}</td>
              <td>{{cm.dosage}}</td>
              <td>{{cm.day}}</td>
              <td>{{cm.time}}</td>
              <td>
                <a class="" ng-click="editMedication(cm);" ng-if="isDoctor">
                  <i class="glyphicon glyphicon-edit"></i>
                </a>
              </td>
              <td>
                <a class="" ng-click="deleteMedication(cm);" ng-if="isDoctor">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="col-md-2">
      <div class="panel panel-default" style="margin-top: 70px">
        <div class="panel-heading">Daily Summary</div>
        <div class="panel-body">
          <h5>Minimum &nbsp;&nbsp;&nbsp;<span class="badge">{{dailyMin}}</span></h5>
          <h5>Average&nbsp;&nbsp;&nbsp;&nbsp; <span class="badge">{{dailyAvg}}</span></h5>
          <h5>Maximum&nbsp;&nbsp; <span class="badge">{{dailyMax}}</span></h5>
        </div>
    </div>
    </div>
    <div class="col-md-5" >
      <div class="panel panel-default" style="margin-top: 70px;">
        <div class="panel-heading">Upcoming Appointments
          <a class="pull-right"  ng-click="addAppointment();" ng-if="isDoctor">
            <i class="glyphicon glyphicon-plus"></i>
          </a>
        </div>
        <mwl-calendar
          view="calendarView",
          view-date="calendarDate"
          events="events"
          view-title="MyTitle"
          edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
          delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
          on-edit-event-click="editAppointment(calendarEvent)"
          on-delete-event-click="deleteAppointment(calendarEvent)"
          cell-is-open="false">
        </mwl-calendar>
      </div>
    </div>
  </div>
</section>
