<section>
  <div class="modal-header">
    <h3 class="modal-title">{{medicationModalTitle}}</h3>
  </div>
  <div class="modal-body">
        <form name="medicationForm" class="signin" novalidate autocomplet+e="off">
          <fieldset>
            <div class="form-group" show-errors>
              <label for="medicationName">Medication Name</label>
              <input type="text" id="medicationName" name="medicationName" class="form-control" ng-model="medicationName" placeholder="" required>
              <div ng-show="medicationForm.medicationName.$dirty && medicationForm.medicationName.$invalid" role="alert">
                <span style="color:red">Medication name is required.</span>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="medicationDosage">Medication Dosage</label>
              <input type="text" id="medicationDosage" name="medicationDosage" class="form-control" ng-model="medicationDosage" placeholder="" required>
              <div ng-show="medicationForm.medicationDosage.$dirty && medicationForm.medicationDosage.$invalid">
                <span  style="color:red">Dosage is required.</span>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="medicationCompany">Company</label>
              <input type="text" id="medicationCompany" name="medicationCompany" class="form-control" ng-model="medicationCompany" placeholder="">
            </div>
            <div class="form-group" show-errors>
              <label  for="medicationDay">Day</label>
              <input type="text" id="medicationDay" name="medicationDay" class="form-control" ng-model="medicationDay" placeholder="" required>
              <div ng-show="medicationForm.medicationDay.$dirty && medicationForm.medicationDay.$invalid">
                <span  style="color:red">Day is required.</span>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label  for="medicationTime">Time</label>
              <input type="text" id="medicationTime" name="medicationTime" class="form-control" ng-model="medicationTime" placeholder="" required>
              <div ng-show="medicationForm.medicationTime.$dirty && medicationForm.medicationTime.$invalid">
                <span style="color:red">Time is required</span>
              </div>
            </div>
          </fieldset>
        </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="medicationForm.$invalid" ng-click="saveMedication()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="closeMedication()">Cancel</button>
  </div>
</section>
